/* https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf2fb;
}

.header {
  text-align: center;
  padding: 25px 0 0 0;
  color: #abc4ff;
}

.breed-card {
  text-align: center;
  list-style: none;
  margin: 30px 0;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breed-card__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  350px;
  height: 350px;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}

.breed-card__name {
  font-size: 18px;
  color: #edf2fb;
  padding: 20px 0;
  background-color: #abc4ff;
  border-radius: 0 0 13px 13px;
  width: 350px;
}

